<a href="https://colab.research.google.com/github/pcsilcan/dm/blob/master/20202/dm_20202_0501_ann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [11]:
repo='https://raw.githubusercontent.com/pcsilcan/dm/master/20202/data/'
irisfile='iris.csv'
url='%s%s'%(repo, irisfile)

In [13]:
df = pd.read_csv(url).sample(frac=1)
df.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
136           6.3          3.4           5.6          2.4   Virginica
40            5.0          3.5           1.3          0.3      Setosa
57            4.9          2.4           3.3          1.0  Versicolor
130           7.4          2.8           6.1          1.9   Virginica
90            5.5          2.6           4.4          1.2  Versicolor

In [22]:
x_train = df.iloc[:120, :-1].to_numpy()
y_train = pd.get_dummies(df.iloc[:120, -1]).to_numpy()

x_test = df.iloc[120:, :-1].to_numpy()
y_test = pd.get_dummies(df.iloc[120:, -1]).to_numpy()

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(120, 4) (120, 3)
(30, 4) (30, 3)

## Defining the ANN with Keras

In [24]:
model = Sequential([Dense(8, input_dim=4, activation='relu'),
                    Dense(16, activation='relu'),
                    Dense(32, activation='relu'),
                    Dense(16, activation='relu'),
                    Dense(8, activation='relu'),
                    Dense(3, activation='softmax')])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [25]:
model.fit(x_train, y_train, epochs=10, batch_size=10)

Epoch 1/10
12/12 [==============================] - 0s 1ms/step - loss: 0.6281 - accuracy: 0.6250
Epoch 2/10
12/12 [==============================] - 0s 1ms/step - loss: 0.6147 - accuracy: 0.6583
Epoch 3/10
12/12 [==============================] - 0s 1ms/step - loss: 0.6043 - accuracy: 0.6583
Epoch 4/10
12/12 [==============================] - 0s 1ms/step - loss: 0.5937 - accuracy: 0.6583
Epoch 5/10
12/12 [==============================] - 0s 1ms/step - loss: 0.5805 - accuracy: 0.6583
Epoch 6/10
12/12 [==============================] - 0s 1ms/step - loss: 0.5650 - accuracy: 0.6583
Epoch 7/10
12/12 [==============================] - 0s 1ms/step - loss: 0.5521 - accuracy: 0.6583
Epoch 8/10
12/12 [==============================] - 0s 1ms/step - loss: 0.5350 - accuracy: 0.6583
Epoch 9/10
12/12 [==============================] - 0s 2ms/step - loss: 0.5148 - accuracy: 0.6583
Epoch 10/10
12/12 [==============================] - 0s 1ms/step - loss: 0.4981 - accuracy: 0.6583

In [26]:
model.evaluate(x_test, y_test)

1/1 [==============================] - 0s 2ms/step - loss: 0.4806 - accuracy: 0.7000

[0.4805748760700226, 0.699999988079071]